apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: bookmarky-stage
resources:
  - ../../base
  - network.yaml
  # - secret.yaml
images:
  - name: harbor.squid-ink.us/politeauthority/bookmarky
    newTag: stage-0.0.1.8
patches:
  - target:
      kind: Deployment
      name: bookmarky-api
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: JWT_EXPIRE_MINUTES
          value: "2880"
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: BOOKMARKY_ENV
          value: "stage"
